html
	head
		title Quick Sell
		script(type="text/javascript" src="/lib/angular/angular.js")
		script(type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.js")
		script(type="text/javascript" src="/js/index.js")
	body
		div(data-ng-app="quicksell")
			p Welcome to Quick Sell, This the very beginning